*{
    font-family: 'Poppins', sans-serif
}

*::-webkit-scrollbar {
    width: 0;
}

body{
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5c7077;
    padding: 10px 0px;
    position: fixed;
    margin: 0;
    max-height: 80px;
    height: 80px;
    width: 100%;
}

.brand a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    text-overflow: ellipsis;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 140px 40px 40px 40px;
}



.main-txt{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.main-txt h2{
    color: #333;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
}

.main-txt p{
    color: #444;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 0;
}

.main-action{
    display: flex;
    align-items: center;
}

.main-action a{
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #89A8B2;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.main a:hover{
    transform: scale(1.05);
}

h3{
    margin: 0 0 10px 0;
    color: #fff;
}

h2{
    margin: 0px 0 0 0;
}

.container {
    padding: 20px;
}

#act{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section {
    margin-bottom: 40px;
    background-color: #89A8B2;
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th{
    color: #333;
}

th, td {
    padding: 8px;
    text-align: left;
}

.container a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.container p{
    margin: 0;
    color: #ddd;
    cursor: default;
}
.container a:hover {
    text-decoration: underline;
}