/* General styling */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5c7077;
    padding: 10px 0px;
    position: fixed;
    margin: 0;
    max-height: 80px;
    height: 80px;
    width: 100%;
}

.brand a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    text-overflow: ellipsis;
}

.toggle-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.nav-links {
    position: fixed;
    top: 100px;
    right: -300px;
    background-color: #89A8B2;
    width: 250px;
    height: 100vh;
    transition: right 0.3s ease;
    border-left: 3px solid #fff;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.nav-links ul li {
    margin: 15px 0;
}

.nav-links ul li a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-links ul li a:hover {
    background-color: #B3C8CF;
    color: #444;
}


/* MOBILE VIEW */
@media screen and (max-width: 768px) {
    .nav-links {
        width: 200px;
    }
}