*{
    font-family: 'Poppins', sans-serif
}

*::-webkit-scrollbar {
    width: 0;
}

#admin-t{
    margin-top: 50px;
}

#brand{
    margin-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

h1{
    color: #5c7077;
    margin: 0 0 30px 0;
    font-size: 30px;
    display: flex;
    text-align: center;
    max-width: 400px;
    letter-spacing: 0.5px;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 140px 40px 40px 40px;
}

h2 {
    text-align: center;
    color: #fff;
    margin: 0 0 25px 0;
    font-size: 25px;
    border-bottom: 2px solid #D4EBF8;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #89A8B2;
    max-width: 400px;
    margin-bottom: 50px;
}

form input, textarea, select, option{
    display: flex;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 5px 8px;
    margin: 0 0 10px 0;
    background-color: #D4EBF8;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

form input:focus, textarea:focus, select:focus{
    border-color: #1F509A;
}

form input:hover, textarea:hover, select:hover{
    background-color: #fff;
}

form label {
    color: #444;
    display: block;
    font-weight: 500;
    margin: 0 0 5px 0;
}

form button{
    letter-spacing: 0.5px;
    background-color: #D4EBF8;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px 0 0 0;
    font-size: 15px;
    font-weight: 600;
    color: #1F509A;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

form button:hover{
    background-color: #1F509A;
    color: #fff;
}

form p{
    margin: 25px 0 10px 0;
    color: #444;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

form a{
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

form a:hover{
    color: #D4EBF8;
}

.back{
    letter-spacing: 0.5px;
    background-color: #89A8B2;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 15px 0 30px 0;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.back:hover{
    background-color: #1F509A;
    color: #fff;
}